
@font-face {
	font-family: 'TheJamsil5Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
font-family: 'TheJamsil5Bold', sans-serif;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

h1,
h2,
h3 {
  margin-top: 0;
  text-align: center;
  color: #fff;
  background-color: #212121;
  padding: 10px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 10px; /* 테이블 모서리 둥글게 */
  overflow: hidden; /* 테이블 크기가 넘어갈 때 부분 숨기기 */
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  
  background-color: #fff;
  
}

th {
  background-color: #00BFFF;
}

tr:nth-child(even) {
  background-color: #00BFFF;
}

a {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #00BFFF;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 100px;
}



/* 하늘색 배경 색상 조절 */
h1,
h2,
h3,
a,
th {
  background-color: #212121;
  color: #fff;
  border-radius: 10px;

}
h1{
  background-color: #212121;
  color: #fff;
  border-radius: 10px;
  font-size: 40px;
}
 /* 입력 필드 라벨 */
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bold;
  }
  
 
  /* 로그인 버튼 */
  input[type="button"] {
    background-color: #2196F3;
     color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* 자동 로그인 체크박스 */
  input[type="checkbox"] {
    margin-top: 10px;
  }
  
 /* 버튼 그룹 */
  .button-group {
    display: flex;
    justify-content: space-between;
    background-color: #2196F3;
     color: #fff;
  }
  
  /* 하단 버튼 */

  .button-group input[type="button"] {
  background-color: #2196F3;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
    
    input[type="button"] {
        background-color: #2196F3;
        border: none;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

 

button[type="submit"], input[type="button"] {
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}


